
body{
    margin: 0;
    padding: 0;
}
.headerbox{
   width: 100%; 
   height: 40px;
   line-height: 40px;
   background-color: #333;
}
.header ul  {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.header{
    width: 1226px;
    margin: 0 auto;
    font-size: 12px;
}
.header-a ul li{
    float: left;
    position: relative;
}
.header-b{
    float: right;
}

.header ul li a {
    color: #b0b0b0;
    text-decoration: none;
}
.header ul li span {
    color: #424242;
    text-decoration: none;
    margin: 0 .3em;
}.header a:hover{
    color: white;
}
.car{
    width: 120px;
    height: 40px;
    background-color: #424242;
    margin-left: 25px;
    padding-left: 10px;
    text-align: center;
    position: relative;
}
.car:hover a{
    color: rgb(255, 103,0);
}
.car:hover{
    background-color: white;
}
.header-c{
    /* display: none; */
    width: 316px;
    height:0px;
    background-color: white;
overflow: hidden;
    box-shadow: 0 2px 10px rgb(0, 0, 0,.15);
    position: absolute;
    right: 0;
    top: 40px;
    line-height: 100px;
    transition: all .3s;
    z-index: 100;
}
.car:hover .header-c{
    height: 100px;
}
.header-d{
    width: 124px;
    height: 0;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 1px 5px #aaa;
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: -62px;
    transition: all .3s;
    z-index: 100;
}
.header-d img{
    width: 90px;
    margin: 18px 0 12px;
    padding-left: 16.5px;

}

.header-d p{
    color: #333;
    font-size: 14px;
   line-height: 14px;
   text-align: center;
  margin-top: -15px;
}
.app:hover .header-d{
    height: 148px;
}
.app:hover .header-d a{
    height: 148px;
}
/* 头部结束 */
   .nav{
       width: 100%;
       height: 100px;
       position: relative;
   }
.warp{
    display: flex;
    align-items:center;
    width: 1226px;
    height: 100%;
    margin: 0 auto;
}
.loge{
    /* float: left; */
    width: 56px;
    height: 56px;
}
.nav1{
    /* float: left; */
width: 874px;
height: 100px;
line-height: 100px;
display: block;
padding-left: 127px;
box-sizing: border-box;
background-color: white;
    z-index: 99;

}
.nav2{
    /* float: left; */
    height: 50px;
    width: 296px;
}
.loge img{
    height: 100%;
}
.nav1 ul{
    padding: 0;
    margin: 0;
}
.nav1 ul li{
    float: left;
    padding: 0 10px;
    list-style-type: none;
}
.nav1 ul li a{
    color: #333;
    text-decoration: none;
}
.nav1 ul li:hover a{
    color: rgb(255, 103, 0);
}
.nav-a{
    border-top: 1px solid rgb(224, 224, 224);
    position: absolute;
    left: 0;
    top: 100px;
    display: none;
   width: 100%;
   height: 230px;
   /* background-color: pink; */
   box-shadow: 0 3px 4px rgb(0, 0, 0,.18);
       background-color: white;
}
.nav1 li:hover>.nav-a{
    display: block;
}
.woca{
    display: flex;
    width: 1226px;
    margin: 20px auto;

}
.woca img{
width: 204px;
}
.woca-1{
    font-size: 12px;
    text-align: center;
    line-height: 100%;

}
.nav-b{
    width: 100%;
    height: 230px;
        position:absolute;
        left:0;
        box-shadow: 0 3px 4px rgb(0, 0, 0,.18);
         border-top: 1px solid rgb(224, 224, 224);
         display: none;
}
.nav1 li:hover>.nav-b{
    display: block;
}
.woca-a{
    display: flex;
    width: 1226px;
    margin: 20px auto;
}
/* ---------------------------------------------------------- */
.nav2{
    position: relative;
    z-index: 98;
}
.nav2>input{
width: 223px;
height: 48px;
padding: 0 10px;
border: 1px solid #e0e0e0;
outline: none;
float: left;
}
.nav2>button{
height: 50px;
width: 50px;
float: left;
outline: none;
border: 1px solid #e0e0e0;
background-color: white;
}

.nav2 button:hover{
   background-color:  rgb(255, 103, 0);
}
.nav2 input:hover{
    border-color: rgb(255, 103, 0);
}
.nav2 input:hover~button{
    border-color:rgb(255, 103, 0) ;
}
.nav2-a{
    position: absolute;
    left: 0;
    top: 50px;
    width: 243px;
    height: 240px;
    border: 1px solid rgb(255, 103, 0);
    border-top: none;
    display: none;
    background-color: white;
}
.nav2>input:focus~.nav2-a{
    display: block;
}
/* 第二部分结束 */
/* ----------------------------------------------------------------- */
.apple{
    width: 100%;
    height: 460px;
}
.apple-box{
    /* display: flex; */
    margin: 0 auto;
    width: 1226px;
    height: 460px;
}
.apple-a{
    position:absolute;
    box-sizing: border-box;
    width: 234px;
    height: 460px;
    padding:20px 0;
    background-color:rgba(0, 0, 0, .3);
}
.apple-a ul {
    list-style-type: none;
    margin: 0;
    padding:0;
    /* padding-left: 30px; */
}
.apple-a ul li{
    height: 42px;
    line-height: 42px;
    color: white;
    padding-left: 30px;
}
.apple-a>ul>li:hover{
    background-color: rgb(255, 103,0);
    
}
/* -------------没搞明白的地方开始------------------------ */
.apple-b{
    width: 100%;
    height: 460px;
    position: relative;
}

  .apple-b .apple-photo{
    height: 100%;
    width: 1226px;
    position: relative;
}
.apple-b input{
     display: none; 
}
.apple-b .apple-photo .apple-c{
    width: 100%;
    height: 100%;
    position: absolute;
}
.apple-b .apple-photo .apple-c img{
    width: 100%;
    height: 100%;
    /* display: none; */
} 

  .apple-b .apple-photo .apple-c label{
    position:absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 70px;
    line-height: 70px;
    color: red;
} 
.apple-cc{
    left: 234px;
}
.apple-ccc{
    right: 0;
}
 
input:nth-child(1):checked ~ .apple-photo .apple-c:nth-child(1) img{
    display: block;
}
input:nth-child(2):checked~.apple-photo .apple-c:nth-child(2) img {
    display: block;
}
input:nth-child(3):checked~.apple-photo .apple-c:nth-child(3) img {
    display: block;
}
input:nth-child(4):checked~.apple-photo .apple-c:nth-child(4) img{
    display: block;
}  
/* ------------------没搞明白的地方结束------------------ */
.apple-d{
    position: absolute;
    right: 30px;
    bottom: 20px;
}
.apple-d label{
    width: 6px;
    height: 6px;
    border: 2px solid #fff;
    display: inline-block;
    border-radius: 10px;
}
/* 第二部分左边的地方 */
.what{
    position:absolute;
    left:234px;
top:0px;
display: none;
    width: 992px;
    height: 458px;
    background-color: white;
    border: 1px solid white;
    box-shadow: 0 8px 16px rgb(0, 0, .18);
    
}
.apple-a ul li:hover .what{
    display: block;
}
.what ul{
    float: left;
    padding: 2px 0;
    height: 458px;
    margin: 0;
    margin-right: 55px;
    text-align: center;
}
.what ul li{
    padding: 18px 20px;
    margin: 0;
    text-align: left;
    /* float: left; */
}
.what ul li a{
    font-size: 12px;
  text-decoration: none;
}
.what ul li a:hover{
    color: rgb(255, 103, 0);
}
.what ul li img{
    width: 40px;
    height: 40px;
    margin-right: 12px;
    vertical-align: middle;
}
/* ---------------第四部分开始------------------------------- */
.banana{
    width: 1226px;
    height: 170px;
    margin: 15px auto 25px;
}
.banana .banana-a{
    /* display: flex; */
    width: 234px;
    height: 170px;
    background-color: #5f5750;
    display: inline-block;
}
.banana .banana-a div{
    float: left;
    width: 70px;
    height: 82px;
    padding: 0 3px;
}
.banana .banana-a a{
    float: left;
    display:inline-block;
    text-decoration: none;
    color: rgb(207, 204, 202);
    /* flex-wrap: wrap; */
    padding: 3px;
    padding-top: 18px;
    font-size: 12px;
    width: 70px;
    text-align: center;
    height: 46px;
    line-height: 46px;
}
.banana-a div:hover a{
    color: white;
}
.banana-1{
    float: right;
}
.banana-b,.banana-c,.banana-d{
     float: left;
    margin-left: 14px; 
}
.banana-b img{
    width: 316px;
    height: 170px;
    display: block;
}
.banana-c img{
    width: 316px;
    height: 170px;
    display: block;

}

.banana-d img{
    width: 316px;
    height: 170px;
    display: block;
}
.banana-b a img:hover{
    box-shadow: 0px 15px 15px #ebebeb;
}
.banana-c a img:hover{
    box-shadow: 0px 15px 15px #ebebeb;
}
.banana-d a img:hover{
    box-shadow: 0px 15px 15px #ebebeb;
}
/* -------------第四部分结束----------------- */
.big-box{
    width: 100%;
    background-color: #f5f5f5;
    padding: 4px 0 12px;
    /* clear: both; */
    overflow: auto;
    text-align: center;
}
.small-box1{
width: 1226px;

display: inline-block;
/* margin: 0 auto; */

/* clear: both; */
}
.small-box1 .font{
    /* position: relative; */
    display: flex;
    justify-content:space-between;
}
.small-box1 .font a{
    font-size: 16px;
    line-height: 58px;
    color: #424242;

}
.small-box1 .font a:hover{
    color: rgb(255, 103, 0);
    transition: .4s;
}
.small-box1 .font span{
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
}
/* -------------------轮播图------------------- */


.orange .orange-left{
    float: left;
    display: block;
    height: 614px;
    width: 234px;
}
 .orange .orange-left a:hover img{
    box-shadow: 0px 50px 100px #ebebeb;
    transform: translate(0,-5px);
    transition: .3s;
}
.orange .orange-right{
       justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    float: left;
    width: 992px;
    height: 614px;
} 
.orange .orange-right .wdnmd{
    /* display: inline-block; */
    width: 234px;
    height: 260px;
  background-color: white;
    padding: 20px 0;
    margin-left: 14px;
        text-align: center;

}
.orange .orange-right a img{
    width: 160px;
    height: 160px;
}
.orange .orange-right a{
    display: block;
    margin: 0 37px 18px 37px;
    /* overflow: hidden; */
}
.orange .orange-right .orange-right-a h3{
    font-size: 14px;
    font-weight: 400;
    margin: 0 10px 2px;
}
.orange .orange-right .orange-right-a p{
    color: #b0b0b0;
    font-size: 12px;
    margin: 0 10px 10px;
    height: 18px;
}
.orange .orange-right .orange-right-a span{
    margin: 0 10px 14px;
    color: #ff6700;
    text-align: center;
}
.orange-right-a:hover{
    box-shadow: 0px 15px 30px #ebebeb;
    transform: translate(0,-5px);
    transition: .3s;
}
/* --------------------第六部分-------- */
.small-box2{
width: 1226px;
margin: 0 auto;
overflow: hidden;
}
.fuck{
    margin: 0;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
    overflow:hidden;
    /* display: inline-block; */
}
.fuck p{
    float: left;
    /* overflow: hidden; */
    
}
.fuck-a ul{
    margin: 0;
    padding: 0;
    padding: 16px 0 0 0;
    list-style-type: none;
    float: right;
}
.fuck-a ul li{
    /* hover的时候换图的地方 */
    float: left;
  margin: 0 0 0 30px;
  font-size: 16px;
}
.small-box2 .fuck-b{
    /* float: left; */
    width: 1226px;
    
    margin-top: -25px;

}
.fuck-b{
    overflow: hidden;
}
.fuck-b .fuck-b-photo {
    display: inline-block;
    /* overflow: hidden; */
}
.fuck-b .fuck-b-photo a img{
    float: left;
}
.fuck-b .fuck-b-photo a{
    display: inline-block;
}

/* ------------------------奇怪的地方---------------- */

.fuck-b .fuck-b-photo:hover{
  box-shadow: 0px 15px 30px #ebebeb;
    transform: translate(0,-5px);
    transition: .3s;
}
.fuck-b .fuck-b-left{
    float: right;
    height: 614px;
    padding: 0;
    width: 992px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}
.fuck-b-left div{
    width: 234px;
    height: 300px;
    background-color: white;
    text-align: center;
} 
.fuck-b-left div a img{
    height: 160px;
    width: 160px;
    margin: 20px 0;
}


.fuck-b-left div h2{
    width: 214px;
    height: 21px;
    margin: 0 10px 2px;
    font-size: 14px;
    color: #333;
}
.fuck-b-left div p{
    width: 214px;
    height: 18px;
    font-size: 12px;
    color: #b0b0b0;
    margin: 0 10px 10px;
   
}
.fuck-b-left div span {
    color: rgb(255, 103, 0);
    margin: 0 10px 14px;
}
.fuck-b-left .whatfuck .whatfuck-a p{
    width: 94px;
    height: 45px;
font-size: 18px;
margin: 50px 110px 0 30px;
color: #333;
/* line-height: 45px; */
}
.fuck-b-left div a{
    text-decoration: none;
}
.fuck-b-left .whatfuck{
    /* opacity: 0; */
    /* position: relative; */
    width: 234px;
    height: 143px;
    position: absolute;
    top: 314px;
    line-height: 143px;
    /* margin-top: 50px; */
    /* display: block; */
}
.fuck-b-left .whatfuck p{
        display: block;
    font-size: 18px;
    margin: 0 110px 0 30px;
    color: #333;
    text-align: left;
    /* margin-top: 50px; */
}
.fuck-b-left .whatfuck span{
    display: block;
    font-size: 12px;
    color: #757575;
    margin: 0 110px 0 30px;
        text-align: left;

}

.fuck-b-left div:hover{
    box-shadow: 0px 15px 30px #ebebeb;
    transform: translate(0,-5px);
    transition: .3s;
}
/* -----------------第七部分------------- */
.small-box3{
    margin: 0 auto;
    width: 1226px;
  
}

.ok-1{

    width: 234px;
    text-align: left;

    float: left;
    

} 
.ok-1 p{
    font-size: 22px;
    line-height: 58px;
    margin: 0;
    font-weight: 200;
    color: #333;
}
.ok-photo{
    height: 614px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.ok-photo img{
height: 300px;
transition: 0.5s;
}
.ok-photo img:hover{
    transform: translateY(-5px);
}
.ok-switch{
    display: inline-block;
    width: 992px;
    height: 672px;
    margin: 0;
    padding-top:30px;
    text-align: right;
    
   /* float: right; */
}
.ok-switch span{
    position: relative;
}
.ok-switch span{
    margin-left: 10px;
}
.ok-switch>span div{
    height: 614px;
    width: 992px;
    position: absolute;
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content:space-between;
align-items: flex-end;
}
.ok-switch>span div a{
    width: 234px;
    height: 300px;
    display: inline-block;
    text-align: center;
    background-color: white;
    text-decoration: none;
}
.ok-switch>span div a img{
    width: 160px;
    height: 160px;
    
}
.ok-switch>span div a h2{
    display: inline-block;
    width: 214px;
    height: 21px;
    margin: 0 10px 2px;
    font-size: 14px;
    color: #333;
}
.ok-switch>span div p{
    width: 214px;
    height: 18px;
    font-size: 12px;
    color: #b0b0b0;
    margin: 0 10px 10px 10px;
    display: inline-block;
}
.ok-switch>span div span{
    width: 214px;
    height: 21px;
    margin: 0px 10px 14px;
    color: rgb(255, 103, 0);
    display: inline-block;
}
